Flask
Flask-JWT-Extended
Werkzeug
Pydantic
face_recognition
Pillow
python-dotenv
flasgger
requests
bcrypt
click
colorama
# deepface==0.0.79 # Optional: Specify a version, or leave for latest
deepface
# dlib yerine pre-built wheel kullanıyoruz
https://github.com/jloh02/dlib/releases/download/v19.22/dlib-19.22.99-cp39-cp39-linux_x86_64.whl; platform_system == "Linux" and python_version == "3.9"
# Raspberry Pi veya diğer platformlar için varsayılan dlib
dlib; platform_system != "Linux" or python_version != "3.9"
Flask-Cors
gunicorn 