Flask
Flask-JWT-Extended
Werkzeug
pydantic[email]
face_recognition
Pillow
python-dotenv
flasgger
requests
bcrypt
click
colorama
# deepface==0.0.79 # Optional: Specify a version, or leave for latest
deepface
# dlib GitHub URL'si 404 hatası verdi, orijinal dlib'i kullan
dlib
Flask-Cors
gunicorn 